@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0&icon_names=keyboard_arrow_down');

@media print {
  .editing {
    display: none;
  }
  .resume {
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;
  }
}

@page {
  size: letter;
  /* margin: 1in; */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  height: 100%;
}

#root {
  text-align: center;
  width: 100%;
  height: fit-content;
}

.app {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 4vw;
  width: 100%;
  height: 100vh;
}

/* Resume Section */

.resume {
  aspect-ratio: 8.5 / 11;
  background-color: white;
  color: black;
  font-family: 'Times New Roman', Times, serif;
  padding: 36pt;
  max-height: 11in;
  line-height: normal;
  margin: 2vw;
}

.resume > * {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.resume-header {
  align-items: center;
}

hr {
  width: 100%;
  border: none;
  border-top: 1px solid black;
  margin: 0;
}

p {
  margin: 0;
  font-size: 12pt;
}

.resume > * {
  width: 100%;
}

.resume-experiences > * {
  width: 100%;
}

.resume-education > * {
  width: 100%;
}

.resume-header h1 {
  margin: 0;
  font-size: 36pt;
}

.header-details {
  margin-bottom: 1vh;
}

.resume h2 {
  margin: 0;
  font-size: 14pt;
  font-weight: bold;
  text-align: left;
}

.resume h3 {
  margin: 0;
  font-size: 12pt;
}


.italicized {
  font-style: italic;
}

.bold {
  font-weight: 600;
}

.resume ul {
  padding: 0;
  margin: 0;
  text-align: left;
}

.bullets li {
  list-style: disc inside;
}

li {
  list-style: none;
}

.experience-header {
  display: flex;
  justify-content: space-between;
}

.education-item {
  display: flex;
  justify-content: space-between;
}

.education-item, .experience-item {
  margin-top: 1vh;
}

.right-aligned {
  text-align: right;
}


/* Editing Section */


.editing {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: auto;
  scrollbar-width: none;
  min-width: 400px;
  margin: 2vw;
}

.editing h2 {
  margin: 0;
  font-size: 2.5vh;
  text-align-last: left;
}

.editing h3 {
  font-weight: normal;
}

.personal-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.personal-form > *:nth-child(even), .expanded-section > *:nth-child(odd) {
  text-align: left;
}

.personal-form > *:nth-child(odd), .expanded-section > *:nth-child(even) {
  margin-bottom: 1vh;
}

.editing ul {
  padding: 0;
  margin: 0;
}

.experiences-section {
  margin: 2vh 0;
}

.expanded-section {
  display: flex;
  flex-direction: column;
}

.collapsed-section {
  display: flex;
  justify-content: space-between;
  text-align: left;
}

input, textarea {
  /* font-size: 1.5vh; */
  border-radius: 1.5vh;
  border: none;
  padding: 1vh;
  background-color: rgb(54, 54, 54);
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 1vh;
}

.remove-btn {
  color: rgb(171, 0, 0);
  background-color: var(--background-color);
  border: 2px solid rgb(171, 0, 0);
}

.material-symbols-outlined {
  font-variation-settings: 
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
  transition: transform 250ms;
  transform-origin: center;
}

.expand-container {
  position: relative;
  width: 20%;
}

.expand {
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  transition: transform 250ms;
  transform-origin: center;
  will-change: transform;
  position: absolute;
  right: 0;
  top: 25%;
  border: none;
}

.expand:hover .material-symbols-outlined {
  transform: scale(1.3);
}