#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2vw;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Additions past template */

.app {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-gap: 2vw;
}

.resume {
  display: flex;
  flex-direction: column;
  aspect-ratio: 8.5 / 11;
  background-color: white;
  color: black;
  font-family: 'Times New Roman', Times, serif;
  padding: 3em;
  line-height: normal;
}

.resume > * {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.resume-header {
  align-items: center;
}

hr {
  width: 100%;
  border: none;
  border-top: 1px solid black;
  margin: 0;
}

p {
  margin: 0;
  font-size: 12pt;
}

.resume > * {
  width: 100%;
}

.resume-experiences > * {
  width: 100%;
}

.resume-education > * {
  width: 100%;
}

.resume-header h1 {
  margin: 0;
  font-size: 24pt;
}

.header-details {
  margin-bottom: 1vh;
}

.resume h2 {
  margin: 0;
  font-size: 14pt;
  font-weight: bold;
  text-align: left;
}

.resume h3 {
  margin: 0;
  font-size: 12pt;
}

.italicized {
  font-style: italic;
}

.bold {
  font-weight: 600;
}

.resume ul {
  padding: 0;
  margin: 0;
  text-align: left;
}

.bullets li {
  list-style: disc inside;
}

li {
  list-style: none;
}

.experience-header {
  display: flex;
  justify-content: space-between;
}

.education-item {
  display: flex;
  justify-content: space-between;
}

.education-item, .experience-item {
  margin-top: 1vh;
}

.right-aligned {
  text-align: right;
}